.card-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-main {
  min-height: calc(100vh - 110px);
  height: auto;
  overflow: visible;
}

/* NAVS & TABS */
.navs .nav-link.active {
  background-color: #f0f5ff;
  color: #17a2b8;
  font-weight: bold;
  background-color: rgba(23, 162, 184, 0.15) !important;
  color: #17a2b8 !important;
  border-bottom: 1px solid #dcf1f4 !important;
}

.navs .nav-link,
.navs .nav-link:hover {
  color: #333;
}

.navs .nav-link:not(.active):hover {
  border: 1px solid transparent;
}

/* RADIO BUTTONS */
.form-check {
  padding-left: 0;
  padding-right: 1.5em;
}

.form-check .form-check-input {
  float: right;
  margin-left: 0;
  margin-right: -1.5em;
}

.form-check-input:checked {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

/* Toast */
.custom-toast {
  width: fit-content;
  position: fixed;
  left: 50%;
  top: 30px;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease;
  visibility: hidden;
  z-index: 999;
}

.custom-toast.show {
  opacity: 1;
  transform: translate(-50%, -40%);
  visibility: visible;
}

/* Estdrak History List */
#showHistoryContainer {
  max-height: 300px;
  overflow-y: auto;
  padding: 5px;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  background-color: #f8f9fa;
}

.transaction-history-container::-webkit-scrollbar {
  width: 6px;
}
.transaction-history-container::-webkit-scrollbar-thumb {
  background-color: #adb5bd;
  border-radius: 10px;
}

.history-card-label {
  display: block;
  cursor: pointer;
  background: white;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 10px;
  transition: all 0.2s ease-in-out;
  position: relative;
}

.history-card-label:hover {
  background-color: #f1f3f5;
  transform: translateY(-2px);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.reply-radio:checked + .history-card-label {
  border-color: #0d6efd;
  background-color: #e7f1ff;
  box-shadow: 0 0 0 1px #0d6efd;
}

.history-subject {
  font-weight: bold;
  color: #212529;
  font-size: 1rem;
  margin-bottom: 4px;
  display: block;
}

.history-meta {
  font-size: 0.85rem;
  color: #6c757d;
}
