body {
    background-color: #f6f6f6;
    font-family: system-ui, -apple-system, "Segoe UI", sans-serif;
}

table th {
    font-weight: 600;
}

.navbar-custom {
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.navbar-logo {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.navbar-brand {
    font-size: 1.2rem;
    color: #17a2b8;
    white-space: nowrap;
}
.navbar-brand:hover{
     cursor: default;
}

.nav-link {
    font-weight: 500;
}

    .container {
        animation: fadeUp 0.4s ease;
    }

    @keyframes fadeUp {
        from {
            opacity: 0;
            transform: translateY(10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
